
@{
    ViewData["Title"] = "DupeFinderResult";
}
<html>
<head>
    <title>Результат поиска</title>
</head>
    <body>
        <h1>
            Результат поиска
        </h1>
        @Html.Raw(ViewBag.Head)

    </body>
</html>
    

