
@{
    ViewData["Title"] = "DupeFinder";
}

    <h2>Поиск дублей</h2>
<head>
    <title>Поиск дублей</title>
</head>
<body>
    @using (Html.BeginForm("Dupes", "Base"))
    {
        <body>
            Первая строка:
            <p></p>
            @Html.TextArea("STR1")
            <p></p>
            Вторая строка:
            <p></p>
            @Html.TextArea("STR2")
            <p></p>
            Разделитель:
            <p></p>
        </body>
        @Html.TextBox("delim")
        <input type="submit" name="send" value="Найти дубли">
        
    }

</body>
